<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<th:block th:replace="common-template :: common-head(title='login')"/>

<body>
<nav th:replace="/common-template:: common-navbar"></nav>
<
<div class="container text-center">
    <div>
        <h2>Please Login</h2>
        <br/>
    </div>

    <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div th:if="${param.error}">
                <p class="text-danger">Invalid username or password.</p>
            </div>
            <div th:if="${param.logout}">
                <p class="bg-success text-white p-2">You have been logged out.</p>
            </div>
            <div th:if="${param.activated}">
                <p class="bg-success text-white p-2">Your account has been activated.</p>
            </div>
            <div>
                <p><input type="text" name="username" required class="form-control" placeholder="enter your email or usernaem" /></p>
            </div>
            <div>
                <p><input type="password" name="password" required class="form-control" placeholder="Password" /></p>
            </div>
            <div>
                <p><input type="submit" value="Login" class="btn btn-primary" /></p>
            </div>
        </div>
    </form>
    <p class="text-center text-muted mt-5 mb-0">Create new account? <a th:href="@{/account/register}"
                                                                            class="fw-bold text-body"><u>sign up here</u></a></p>

</div>
</body>
</html>