<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>
<div class="bg-success text-white p-2" th:if="${param.logout}" th:text="#{login.logout.success}"></div>
<div class="container text-center">
    <div>
        <h2>Please Login</h2>
        <br/>
    </div>
<!--    <div>-->
<!--        <h4><a th:href="@{/oauth2/authorization/github}">Login with GitHub</a></h4>-->
<!--    </div>-->
    <div><p>OR</p></div>

    <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div th:if="${param.error}">
                <p class="text-danger">Invalid username or password.</p>
            </div>
            <div th:if="${param.logout}">
                <p class="text-warning">You have been logged out.</p>
            </div>
            <div>
                <p><input type="text" name="username" required class="form-control" placeholder="enter your email or usernaem" /></p>
            </div>
            <div>
                <p><input type="password" name="password" required class="form-control" placeholder="Password" /></p>
            </div>
            <div>
                <p><input type="submit" value="Login" class="btn btn-primary" /></p>
            </div>
        </div>
    </form>
    <p class="text-center text-muted mt-5 mb-0">Create new account? <a th:href="@{/account/register}"
                                                                            class="fw-bold text-body"><u>sign up here sdf</u></a></p>

</div>
</body>
</html>